.ui-avatar {
  --size: calc(3.25 * var(--core));
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  font-size: calc(.3 * var(--size));;
}

.ui-avatar--round {
  & .ui-avatar__box {
    border-radius: 50%;
  }
}

.ui-avatar--medium {
  --size: calc(3.75 * var(--core));
}

.ui-avatar--large {
  --size: calc(4.5 * var(--core));
}

.ui-avatar__box {
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius);
  background: var(--bg, var(--hover));
  color: var(--fg, var(--text));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.ui-avatar__image {
  width: 100%;
  height: 100%;
}

.ui-avatar__fallback {
  font-size: calc(var(--size) * .4);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .02em;
}

.ui-avatar__info {
  display: flex;
  flex-direction: column;
  gap: calc(.025 * var(--size));
  min-width: 0;
}

.ui-avatar__name {
  font-weight: 500;
  font-size: .95em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-avatar__desc {
  font-size: .85em;
  color: var(--muted);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
