.ui-collapsible:disabled {
  opacity: .5;
  pointer-events: none;
}

.ui-collapsible .ui-btn {
  gap: var(--space-1);
}

.ui-collapsible__trigger {
  --input-padding: 0;
  font-size: 1em;
  font-weight: 500;
}

.ui-collapsible[data-open="false"] .ui-collapsible__content {
  display: none;
}

.ui-collapsible[data-open="true"] .ui-collapsible__content {
  display: flex;
}
