.ui-collapsible:disabled {
  opacity: .5;
  pointer-events: none;
}

.ui-collapsible .ui-collapsible__trigger {
  --input-padding: 0;
  gap: var(--space-1);
  font-size: 1em;
  font-weight: 500;

  &[disabled] {
    border: none;
  }
}

.ui-collapsible[data-open="false"] > .ui-collapsible__content {
  display: none;
}

.ui-collapsible[data-open="true"] > .ui-collapsible__content {
  display: flex;
}

.ui-collapsible--divider .ui-collapsible__content {
  border: 1px solid var(--border);
  border-width: 1px 0;
  margin-block: var(--space-4);
  padding-block: var(--space-4);
}