/* Dashboard Component */
.ui-dashboard {
  width: 100%;
}

.ui-dashboard__header {
  width: 100%;
}

.ui-dashboard__title-wrap {
  flex: 1;
}

.ui-dashboard__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1.2;
}

.ui-dashboard__desc {
  margin: 0;
  font-size: 0.875em;
}

.ui-dashboard__menu {
  flex-shrink: 0;
}

.ui-dashboard__content {
  width: 100%;
  position: relative;
}

.ui-dashboard__close {
  position: absolute;
  top: var(--space);
  right: var(--space);
  z-index: 10;
}
