.ui-input {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: var(--input-padding);
  color: var(--text);
  background: var(--back);
  width: 100%;
  font: inherit;
  resize: vertical;
}
.ui-input::placeholder { color: var(--muted); }

.ui-input__wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.ui-input__wrap .ui-input--submit {
  padding-right: 40px;
}
.ui-input__wrap .ui-btn {
  position: absolute;
  top: 1px;
  right: 1px;
  height: calc(100% - 2px);
  padding: var(--input-padding);
  border-radius: 0 var(--radius) var(--radius) 0;
}
.ui-input__wrap.has-value .ui-btn {
  background: var(--hover);
}