.ui-radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  &.horizontal {
    flex-direction: row;
    align-items: center;

    & .ui-radio-group__items {
      flex-direction: row;
    }
  }
}

.ui-radio-group__label {
  font-size: .9em;
  color: var(--muted);
}

.ui-radio-group__items {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.ui-radio {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  cursor: pointer;

  &.disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

.ui-radio__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.ui-radio__control {
  --size: calc(var(--space) * 1.75);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid var(--border);
  background: var(--bg, var(--back));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--core-transition);
}

.ui-radio:hover .ui-radio__input:not(:checked):not(:disabled) + .ui-radio__control {
  background: var(--shade);
}

.ui-radio[data-state="checked"] .ui-radio__control {
  border-color: transparent;
}

.ui-radio__input:focus-visible + .ui-radio__control {
  box-shadow: var(--shadow-sm);
}

.ui-radio__label {
  font-size: .9em;
}