.ui-switch {
  --bg: var(--text);
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
}
.ui-switch__button {
  --switch-size: calc(1.75 * var(--space));
  width: calc(2 * var(--switch-size));
  height: var(--switch-size);
  border-radius: 999px;
  border: none;
  background: hsl(var(--hsl-muted) / .25);
  position: relative;
  cursor: pointer;
  padding: 0;
  transition: var(--core-transition);
}
.ui-switch__thumb {
  width: calc(.8 * var(--switch-size));
  height: calc(.8 * var(--switch-size));
  border-radius: 999px;
  background: hsl(var(--hsl-white));
  position: absolute;
  top: 50%;
  left: calc(.1 * var(--switch-size));
  transform: translateY(-50%);
  transition: left var(--core-transition);
}
.ui-switch[data-checked="true"] .ui-switch__button {
  background: var(--bg);
  border-color: var(--bg);
}
.ui-switch[data-checked="true"] .ui-switch__thumb { left: calc(1.1 * var(--switch-size)); }