.ui-switch {
  --bg: var(--text);
  --switch-track-off: var(--control-track-off, var(--muted-back));
  --switch-track-on: var(--control-track-on-muted, var(--muted-back-active, var(--bg)));
  --switch-thumb: var(--control-thumb, hsl(var(--hsl-white)));
  flex: none;
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
}
.ui-switch__button {
  --switch-size: calc(1.75 * var(--space));
  width: calc(2 * var(--switch-size));
  height: var(--switch-size);
  border-radius: 999px;
  border: none;
  background: var(--switch-track-off);
  position: relative;
  cursor: pointer;
  padding: 0;
  transition: var(--core-transition);
}
.ui-switch__thumb {
  width: calc(.8 * var(--switch-size));
  height: calc(.8 * var(--switch-size));
  border-radius: 999px;
  background: var(--switch-thumb);
  position: absolute;
  top: 50%;
  left: calc(.1 * var(--switch-size));
  transform: translateY(-50%);
  transition: var(--core-transition);
}
.ui-switch[data-checked="true"] .ui-switch__button {
  background: var(--bg);
  border-color: var(--bg);
}
.ui-switch[data-ui-col="default"][data-checked="true"] .ui-switch__button {
  background: var(--switch-track-on);
}
.ui-switch[data-checked="true"] .ui-switch__thumb { left: calc(1.1 * var(--switch-size)); }
