html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

.ui-dashboard {
  max-width: 1000px;
  margin: 0 auto;
}
.demo-code {
  font-family: monospace;
  font-size: 12px;
  line-height: 1.75;
  white-space: pre-wrap;
  background: var(--shade);
  padding: .25em .5em;
  border-radius: var(--radius);
  color: hsl(var(--hsl-text) / 0.8);
  display: block;
}
.docs-table {
  font-family: monospace;
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
}
.docs-table td {
  padding: 4px 8px 4px 0;
  color: var(--bg, var(--text));
}
.docs-table tr:not(:only-child) {
  border-bottom: 1px dashed var(--border);
}
.docs-table code {
  font-size: 12px;
  color: var(--primary);
}
.ui-btn .small {
  font-weight: 400;
}
.color-swatch {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  background: var(--bg);
  color: var(--fg);
  font-size: 75%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}